{% extends 'base.html' %}
{%load crispy_forms_tags %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="container mt-3">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-md-6 col-12">
                <div class="widget">
                    <form onsubmit="addClient(); return false;" class="text-center">
                        {% csrf_token %}
                        {{ client_form|crispy }}
                        <button class="btn btn-primary" type="submit">Add client</button>
                    </form>
                </div>
            </div>
            <div class="col-3"></div>
        </div>
    </div>
    <script>
        function addClient() {
            let name = document.getElementById("id_name").value;

            const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
            const xhttp = new XMLHttpRequest();
            xhttp.onload = function () {
                let res = JSON.parse(this.responseText);
                let fn = Function(`toastr.${res.result}("${res.message}")`);
                fn();
                if (xhttp.status === 200) {
                    document.getElementById("id_name").value = '';
                }
            }
            xhttp.open("POST", "{% url 'add_client' %}", true);
            xhttp.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');
            xhttp.setRequestHeader('X-CSRFToken', csrftoken);
            xhttp.send(JSON.stringify({'name': name}));
        }
    </script>
{% endblock %}