{% extends 'base.html' %}
{%load crispy_forms_tags %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="container mt-3">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-md-6 col-12">
                <div class="widget">
                    <form onsubmit="addLocation(); return false;" class="text-center">
                        {% csrf_token %}
                        {% if clients|length < 1 %}
                        <p>You have no clients.</p>
                        {% else %}
                        {{ location_form|crispy }}
                        <button class="btn btn-primary" type="submit">Add location</button>
                        {% endif %}
                    </form>
                </div>
                <table id="locations" class="table table-striped mt-3">
                    <tbody>
                        {% for location in locations %}
                        <tr>
                            <td>{{ location }}</td>
                            <td class="delete"><button onclick='deleteLocation("{{ location.client }}", "{{ location.address }}", {{ forloop.counter0 }})' class="btn btn-sm btn-danger"><i class="fas fa-sm fa-trash"></i></button></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-3"></div>
        </div>
    </div>
    <script>
        function addLocation() {
            let e = document.getElementById("id_clients");
            let client = e.options[e.selectedIndex].text;
            let address = document.getElementById("id_address").value;
            let distance = document.getElementById("id_distance").value;

            const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
            const xhttp = new XMLHttpRequest();
            xhttp.onload = function () {
                let res = JSON.parse(this.responseText);
                let fn = Function(`toastr.${res.result}("${res.message}")`);
                fn();
                if (xhttp.status === 200) {
                    let table = document.getElementById("locations");
                    let row = table.insertRow(-1);
                    let cell1 = row.insertCell(0);
                    let cell2 = row.insertCell(1);
                    cell2.className = 'delete';
                    cell1.innerHTML = `${client} - ${address} (${distance}km)`;
                    cell2.innerHTML = `<button onclick="deleteLocation('${client}', '${address}', ${table.rows.length-1})" class='btn btn-sm btn-danger'><i class='fas fa-sm fa-trash'></i></button>`;
                    updateIndexes();
                    document.getElementById("id_address").value = '';
                    document.getElementById("id_distance").value = '';
                }
            }
            xhttp.open("POST", "{% url 'add_location' %}", true);
            xhttp.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');
            xhttp.setRequestHeader('X-CSRFToken', csrftoken);
            xhttp.send(JSON.stringify({'client': client, 'address': address, 'distance': distance}));
        }

        function deleteLocation(client, address, rowIdx) {
            const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
            const xhttp = new XMLHttpRequest();
            xhttp.onload = function () {
                let res = JSON.parse(this.responseText);
                let fn = Function(`toastr.${res.result}("${res.message}")`);
                fn();
                if (xhttp.status === 200) {
                    let table = document.getElementById("locations");
                    table.deleteRow(rowIdx);
                    updateIndexes();
                }
            }
            xhttp.open("DELETE", "{% url 'delete_location' %}", true);
            xhttp.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');
            xhttp.setRequestHeader('X-CSRFToken', csrftoken);
            xhttp.send(JSON.stringify({'client': client, 'address': address}));
        }

        // Update onclick function on each delete button
        function updateIndexes() {
            $("tr").each(function(idx, item) {
                $this = $(this);
                let value = $this.find("button")[0].onclick.toString();
                value = value.replace(/(\r\n|\n|\r)/gm, ""); // remove line breaks
                value = value.slice(0, -3); // remove "<old-index>)}"
                value = value + idx + ")}"; // add  "<correct-index>)}"
                value = value.substring(
                    value.indexOf('{') + 1,
                    value.lastIndexOf('}')
                );
                $this.find("button")[0].setAttribute( "onClick", value);
            });
        }
    </script>
{% endblock %}