{% extends 'base.html' %}
{%load crispy_forms_tags %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="container mt-3">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6 text-center">
                <div class="widget">
                    {% csrf_token %}
                    <form id="details" onsubmit="updateAccount(); return false;" class="text-center">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button class="btn btn-primary" type="submit">Save</button>
                    </form>
                </div>
            </div>
            <div class="col-3"></div>
        </div>
    </div>
    <script>
        window.onload = function () {
            var labels = document.getElementsByTagName("label");
            var len = labels !== null ? labels.length : 0;
            let i = 0;
            for (i; i < len; i++) {
                labels[i].className += " d-block";
            }
        }

        function updateAccount() {
            let data = $('#details').serializeArray().reduce(function(obj, item) {
                obj[item.name] = item.value;
                return obj;
            }, {});

            const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
            const xhttp = new XMLHttpRequest();
            xhttp.onload = function () {
                let res = JSON.parse(this.responseText);
                let fn = Function(`toastr.${res.result}("${res.message}")`);
                fn();
                if (xhttp.status === 200) {
                    document.getElementById("id_name").value = '';
                }
            }
            xhttp.open("POST", "{% url 'update_account' %}", true);
            xhttp.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');
            xhttp.setRequestHeader('X-CSRFToken', csrftoken);
            xhttp.send(JSON.stringify(data));
        }
    </script>
{% endblock %}