{% extends 'base.html' %}
{%load crispy_forms_tags %}

{% block title %}Success{% endblock %}

{% block content %}
    <div class="container mt-3">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-md-4 col-12 text-center">
                <div class="widget">
                    <p>Password changed successfully.</p>
                    <p>Redirecting...</p>
                </div>
            </div>
            <div class="col-4"></div>
        </div>
    </div>
    <script>
    setTimeout(function () {
        window.location.href = "/";
    }, 1250);
    </script>
{% endblock %}