{% extends 'base.html' %}
{%load crispy_forms_tags %}

{% block title %}Change password{% endblock %}

{% block content %}
    <div class="container mt-3">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-md-4 col-12 text-center">
                <div class="widget">
                    <form id="change_passsword_form" method="post" class="text-center">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button class="btn btn-primary" type="submit">Change password</button>
                    </form>
                </div>
            </div>
            <div class="col-4"></div>
        </div>
    </div>
{% endblock %}