{% extends 'base.html' %}
{%load crispy_forms_tags %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="container mt-3">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-md-4 col-12 text-center">
                <div class="widget mb-1">
                    <form method="post" class="text-center">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button class="btn btn-primary" type="submit">Log In</button>
                    </form>
                </div>
                <small>
                    <a target="_blank" href="https://gitlab.com/marcofs/expensify">
                        GitLab
                    </a>
                    &nbsp;&nbsp;·&nbsp;&nbsp;
                    <a target="_blank" href="{% url 'guide' %}">
                        User guide
                    </a>
                </small>

            </div>
            <div class="col-4"></div>
        </div>
    </div>
{% endblock %}