{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="container mt-3">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-md-6 col-12 text-center">
                <div class="widget">
                    {% csrf_token %}
                    {% if clients|length < 1 %}
                        <p>You have no clients.</p>
                    {% else %}
                    <p>
                        <label for="clients">Client</label>
                        <select class="form-control" name="clients" id="clients">
                            {% for client in clients %}
                                <option value="{{ client.id }}">{{ client.name }}</option>
                            {% endfor %}
                        </select>
                    </p>
                    <p>
                        <label for="value">Value (€)</label>
                        <input class="form-control" id="value" name="value" type="number" placeholder="50" min="1"
                               style="width: 60px;"/>
                    </p>
                    <p>
                        <button id="generateExpensesBtn" class="btn btn-primary" onclick="generateExpenses()">
                            Generate expenses
                        </button>
                    </p>
                    {% endif %}
                </div>
            </div>
            <div class="col-3"></div>
        </div>
    </div>

    <script>
        function generateExpenses() {
            // HTML validations and modifications
            let valueElem = document.getElementById("value");
            if (!valueElem.value) {
                valueElem.classList.add("not-filled");
                return;
            }
            valueElem.classList.remove("not-filled");
            let e = document.getElementById("clients");
            let selectedClient = e.options[e.selectedIndex].text;
            let generateExpensesBtn = document.getElementById("generateExpensesBtn");
            generateExpensesBtn.innerHTML = `Generating...`

            // Request .xlsx
            const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
            const xhttp = new XMLHttpRequest();
            xhttp.onload = function () {
                let res = JSON.parse(this.responseText);
                let fn = Function(`toastr.${res.result}("${res.message}")`);
                fn();
                    generateExpensesBtn.innerHTML = "Generate expenses";
                if (xhttp.status === 200) {
                    let pdfDataU8 = new Uint8Array(JSON.parse(this.responseText).file);
                    let type = 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet';
                    let blob = new Blob([pdfDataU8], {type: type});
                    let link = document.createElement('a');
                    link.href = window.URL.createObjectURL(blob);
                    link.download = '{{ user.username }}.xlsx';
                    link.click();
                }
            }
            xhttp.open("POST", "{% url 'generate_expenses' %}", true);
            xhttp.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');
            xhttp.setRequestHeader('X-CSRFToken', csrftoken);
            xhttp.send(JSON.stringify({'client': selectedClient, 'value': Math.round(valueElem.value)}));
        }
    </script>
{% endblock %}