<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Expensify</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    {% if user.is_authenticated %}
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Account
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'account/update' %}">Update details</a>
          <a class="dropdown-item" href="{% url 'account/password' %}">Change password</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'account/clients' %}">Clients</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'account/locations' %}">Locations</a>
      </li>
    </ul>
    <div>
        <a href="{% url 'logout' %}"><button class="btn btn-outline-danger my-2 my-sm-0">Log out</button></a>
    </div>
    {% endif %}
  </div>
</nav>